.title{
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
}
#signup-form-div{
    height: 400px;
    width: 350px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 30%;
    border-radius: 5%;

}
#email,#pass,#user,#mobile{
    width: 200px;
    height: 20px;
    text-align: center;
    margin-left: 25%;

}
#btn{
    width: 120px;
    height: 40px;
    background-color: teal;
    margin-left: 35%;
}